@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-playfair), ui-serif, Georgia, serif;
  
  --color-bg: #FFFADD;
  --color-text: #1E3006;
  --color-primary: #6A8042;
  --color-accent: #ED7A13;
  --color-highlight: #FFE787;
  --color-border: #6A8042;
}

@layer base {
  :root {
    --color-bg: #FFFADD;
    --color-text: #1E3006;
    --color-primary: #6A8042;
    --color-accent: #ED7A13;
    --color-highlight: #FFE787;
    --color-border: #6A8042;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
